* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

header {
    top: 0;
    /* height: app.js参照; */
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #000000;
    display: flex;
}

nav {
    top: 0;
    height: 60px;
    right: 0;
    left: 0;
    z-index: 10000;
    background-color: #111111;
    display: flex;
}

nav.fixed {
    position: fixed;
}

nav button {
    top: 0;
    bottom: 0;
    width: 150px;
    right: 0;
    background-color: #a52525;
}

main {
    top: 0;
    height: 2000px;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: #555555;
    display: flex;
}

#sideBar {
    top: 0;
    bottom: 0;
    width: 50px;
    left: 0;
    z-index: 9999;
    transform: translateX(-50px);
    transition: transform 0.8s ease;
    background-color: #333333;
}

#sideBar.fixed {
    top: 60px;
    position: fixed;
    transform: translateX(0);
}

#sideMenu {
    top: 0;
    bottom: 0;
    width: 250px;
    left: 0;
    z-index: 9998;
    transform: translateX(-300px);
    transition: transform 0.72s ease;
    background-color: #444444;
}

#sideMenu.fixed {
    top: 60px;
    position: fixed;
    transform: translateX(50px);
    transition: transform 0.2s ease;
}

    main #sideBar button {
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 30px;
    background-color: #a52525;
    text-align: center;
    border-radius: 50%;
}